#recent-posts > .recent-post-item .post_cover.right{
	display:none !important;
}
ul,ol{
	padding-left:15px !important;
}

.post_cover.left{
  display: none !important;
}

.aside-list-item .thumbnail{
  display: none !important;
}

.aside-list-item .content{
  padding-left: 0px !important;
}

.framework-info{
  display:none !improtant;
}
.aside-content .card-widget>ul.card-category-list,.aside-content .card-widget>ol.card-category-list{
	padding-left:0px !important;
}
.aside-content .card-widget ul.card-category-list.child li>a.card-category-list-link .card-category-list-name{
	position: relative;
}
.aside-content .card-widget ul.card-category-list.child li>a.card-category-list-link .card-category-list-name:before{
	content: "- ";
	position: absolute;
	left: 0px;
	display: inline-block;
	margin-right: 8px;
}