#recent-posts > .recent-post-item .post_cover.right{
	display:none !important;
}
ul,ol{
	padding-left:15px !important;
}

.post_cover.left{
  display: none !important;
}

.aside-list-item .thumbnail{
  display: none !important;
}

.aside-list-item .content{
  padding-left: 0px !important;
}

.framework-info{
  display:none !improtant;
}
.aside-content .card-widget>ul.card-category-list,.aside-content .card-widget>ol.card-category-list{
	padding-left:0px !important;
}
.aside-content .card-widget ul.card-category-list.child li>a.card-category-list-link{
	position: relative;
}
.aside-content .card-widget ul.card-category-list.child li>a.card-category-list-link:before{
	content: "- ";
	position: absolute;
	left: 0px;
	display: inline-block;
	margin-right: 10px;
	padding-left: 3px;
}
#article-container .flink .flink-list > .flink-list-item {
    border: 1px solid #7fc8f8;
    padding: 0px 15px;
    text-align: left;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-icon{
	display: none;
}
/*.postImgHover img, #pagination .prev-post img, #pagination .next-post img, .relatedPosts > .relatedPosts-list > div img{
	opacity: 0 !important;
}
#pagination .prev-post a:hover img, #pagination .next-post a:hover img{
	opacity: 0 !important;
}*/
#recent-posts > .recent-post-item >.recent-post-info{
	width: 100% !important;
}
#menus .fas {
    display: none;
}
#nav .site-page {
    padding: 10px 15px;
}
.search-wrap hr{
	display: none;
}
#local-search-input{
	margin-bottom: 15px;
}
#local-search-input input{
	padding: 12px 15px;
}
.fa-brands, .fab {
    display: none;
}